{# @var collector \WebProfiler\DataCollectors\PdoDataCollector #}

{% extends 'page.html.twig' %}

{% block page %}
    <div class="col-md-10">
        <h2>Database</h2>

        <table id="table-pdo" class="table table-bordered table-striped">
            <colgroup>
                <col/>
                <col/>
                <col/>
            </colgroup>
            <thead>
            <tr>
                <th>Time</th>
                <th>Duration</th>
                <th>Query</th>
            </tr>
            </thead>
            <tbody>
            {% for index, value in collector.collect %}
                <tr>
                    <td class="text-nowrap">{{ value['time'] | date('H:i:s.u') }}</td>
                    <td class="text-nowrap">{{ collector.formatDuration(value['duration']) }}</td>
                    <td>
                        <pre><code class="language-sql">{{ value['sql'] }}</code></pre>
                        <div>
                            <p>
                                <a data-bs-toggle="collapse" href="#trace-{{ index }}">
                                    Show Trace
                                </a>
                            </p>
                            <div class="collapse" id="trace-{{ index }}">
                                {% for trace in value['trace'] %}
                                    {% if trace['url'] is not null %}
                                        <a href="{{ trace['url'] }}">{{ trace['path'] }}</a><br>
                                    {% else %}
                                        {{ trace['path'] }}<br>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/solarized_light.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>

    <script>
        hljs.highlightAll();
    </script>
{% endblock %}
