{# @var collectors \WebProfiler\DataCollectors\DataCollectorToolbar[] #}
{# @var activeCollector string #}

{% extends 'base.html.twig' %}

{% block body %}
    {{ include('header.html.twig') }}
    {{ include('toolbar.html.twig') }}

    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    {% for collector in collectors %}
                        <a
                            href="{{ '/debug/'~token~'/'~collector.name }}"
                            class="list-group-item list-group-item-action {{ activeCollector is same as collector.name ? 'active' : '' }}" >
                            {{ collector.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            {% block page '' %}
        </div>
    </div>

{% endblock %}

